<!--
  <%# <form accept-charset="UTF-8" action="/users" method="POST"> %>
<%# <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %1>"> %>
<%# <label for="username">Name:</label> %>
<%# <input type="text" id="username" name="user[username]"><br><br> %>
#  <label for="email">Email:</label>
#  <input type="text" id="email" name="user[email]"><br><br>
#  <label for="password">Password:</label>
#  <input type="password" id="password" name="user[password]"><br><br>
#  <input type="submit" value="Submit">
<%# </form> %>
-->

<!-- form_tag -->

<%# <%= form_tag('/users') do %1> %>
<%#   <%= label_tag(:username, "Name") %1> %>
<%#   <%= text_field_tag(:username) %1><br><br> %>
<%#   <%= label_tag(:email, "Email") %1> %>
<%#   <%= text_field_tag(:email) %1><br><br> %>
<%#   <%= label_tag(:password, "Password") %1> %>
<%#   <%= password_field_tag(:password) %1><br><br> %>
<%#   <%= submit_tag("Submit") %1> %>
<%# <% end %1> %>

<!-- form_for -->
<%= form_for(@user) do |f| %>
  Name: <%= f.text_field :username, placeholder: "User name" %><br>
  Email: <%= f.text_field :email, placeholder: "email@example.com" %><br>
  Password: <%= f.password_field :password, placeholder: "secret password" %><br>
  <%= f.submit %>
<% end %>


<!--
  <%# <%= form_with(model: @user, url: "/users", method:"post") do %>%>%>
  <%# <%= label(:username, "Username:") %>%>%>
  <%# <%= text_field(:user, :username) %><br><br>%>%>

  <%# <%= label(:email, "Email") %>%>%>
  <%# <%= text_field(:user, :email) %><br><br>%>%>

<%# <%= label(:password, "Password:") %>%>%>
<%# <%= password_field(:user, :password) %><br><br>%>%>

<%# <%= submit_tag("Create User")%>%>%>
<%# <% end %>%>%>
-->

<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
 
    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
